# Files to ignore when considering what GIT should commit.

# Visual Studio
source-shader-editor
*.suo
*.user
*.sln.docstates
*.obj
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
vc100.pdb
ipch
*.sdf
*.opensdf
*.idb
*.vcxproj
*.vcxproj.filters
*.sln
*.vpc_crc
*.vpc.sentinel
*.VC
*.VC.VC.opendb
*.VC.db
*.pdb
Debug*/
Release*/
*.mdmp

# shader files
*.tmp

game/client/Release*
game/client/Debug*
game/server/Debug*
game/server/Release*


.vs/*
*.vpc_cache
*manifest.txt